
<!-- Mobile only -->

<% if @products %>
  <% @products.each do |product| %>
    <div class="product">
      <%= link_to product.url, target: "_blank" do %>
        <%= image_tag product.image %>

        <!-- ------------------------------------------------- -->

        <p class="name"><%= product.name %></p>
        <p class="price"><%= product.price %> kr</p>
      <% end %>

      <!-- ------------------------------------------------- -->

      <%= link_to t(:buy_now), product.url, class: "button primary", target: "_blank" %>
    </div>
  <% end %>
<% end %>
 

