
<!-- Desktop only -->

<% if @products %>
  <% @products.each do |product| %>
    <div class="product layer">
      <%= link_to product.url, target: "_blank" do %>
        <%= image_tag product.image %>

        <!-- ------------------------------------------------- -->

        <% unless mobile? %>
          <div class="retailer">
            <p><%= t :buy_now %></p>
            <p><%= t :brgen_city_center %></p>
            <!--<p><%#= product.retailer %></p>-->
          </div>
          <p class="price"><%= product.price %> kr</p>
        <% end %>
      <% end %>

      <!-- ------------------------------------------------- -->

      <% unless mobile? %>
        <%= link_to product.name, product.url, class: "name", target: "_blank" %>
      <% end %>
    </div>
  <% end %>
<% end %>

