<% if post.photos.any? %>
  <div class="photos">

    <!-- TODO: Replace limit with Caro slider -->

    <% post.photos.first(3).each do |photo| %>
      <% unless photo.attachment_processing %>
        <% unless photo.attachment_animated %>
          <% if !topic_show_path? %>

            <!-- TODO: RDFa Lite 1.1: http://schema.org/image -->

            <%= link_to(image_tag(photo.processed_attachment(:medium)), main_app.forum_topic_path(post.topic.forum, post.topic), class: "#{ "progress_trigger" if mobile? }", data: { ajax: "#{ "false" if !mobile? }" }) %>
          <% else %>

            <!-- TODO: RDFa Lite 1.1: http://schema.org/image -->

            <%= image_tag photo.processed_attachment(:medium) %>
          <% end %>
        <% else %>

          <!-- TODO: RDFa Lite 1.1: http://schema.org/video -->

          <%= video_tag photo.attachment_url(:medium), loop: true %>
        <% end %>
      <% else %>
        <div class="processing">
          <div class="spinner_wave">
            <div class="box_1"></div>
            <div class="box_2"></div>
            <div class="box_3"></div>
            <div class="box_4"></div>
            <div class="box_5"></div>
          </div>

          <!-- ------------------------------------------------- -->

          <script>

            // Wait for jQuery to load

            setTimeout(function() {
              $.delayedPaperclipPoller.request(<%= photo.id %>);
            }, 1000);
          </script>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- ------------------------------------------------- -->

  <% if post.photos.count > 1 %>
    <div class="thumbnails">

      <!-- TODO: Replace limit with Caro slider -->

      <% post.photos.first(3).each do |photo| %>
        <% unless photo.attachment_processing %>
          <% unless photo.attachment_animated %>
            <%= image_tag photo.processed_attachment(:thumbnail) %>
          <% else %>
            <%= image_tag photo.attachment_url(:thumbnail) %>
          <% end %>
        <% else %>

          <!-- TODO: Add thumbnails to `$.delayedPaperclipPoller` -->

        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

