<% if like = forem_user.likes.find_by_post_id(post.id) %>
  <%= link_to main_app.like_path(like), method: :delete, remote: true, id: "like#{ post.id }", class: "trigger like_trigger active#{ " button" if mobile? }" do %>
    <span class="trigger_description arrow_bottom arrow_center"><%= t :unlike %></span>
    <%= show_likes_count(post) %>
  <% end %>
<% else %>
  <%= link_to main_app.likes_path(post_id: post.id), method: :post, remote: true, id: "like#{ post.id }", class: "trigger like_trigger#{ " button" if mobile? }" do %>
    <span class="trigger_description arrow_bottom arrow_center"><%= t :like %></span>
    <%= show_likes_count(post) %>
  <% end %>
<% end %>

