<%= brgen_form_for (@topic = params[:controller] == "forem/topics" && params[:action] == "show" ? build_topic : @topic), url: main_app.new_posting_path(@forum), method: "post", html: { data: { ajax: false, container: false, transition: (mobile? ? "slide" : "fade") }, class: nil}, defaults: { wrapper_html: { class: "text" }, hint: false } do |f| %>
<%#= brgen_form_for (@topic = params[:controller] == "forem/topics" && params[:action] == "show" ? build_topic : @topic), url: main_app.new_posting_path(@forum), method: "post", html: { data: { ajax: false, container: false, transition: (mobile? ? "slide" : "fade") }}, defaults: { wrapper_html: { class: "text" }, hint: false } do |f| %>

  <!-- ------------------------------------------------- -->

  <%= f.input :subject, label: "#{ t :subject }", wrapper_html: { class: "text" }, required: false %>

  <!-- ------------------------------------------------- -->

  <%= raw '<div class="field_with_errors">' unless @topic.errors[:forum].empty? %>
    <%= content_tag(:select, class: "choose_forum", name: "forum_id", include_blank: true, prompt: t(:choose_forum)) do %>
      <option value=""><%= t :choose_forum %></option>

      <!-- ------------------------------------------------- -->

      <% @categories.each do |category| %>
        <%= compose_forums_list(category) %>
      <% end %>
    <% end %>

    <!-- ------------------------------------------------- -->

    <%= raw '<span class="error">#{ @topic.errors[:forum][0] }</span>' unless @topic.errors[:forum].empty? %>
  <%= raw "</div>" unless @topic.errors[:forum].empty? %>

  <!-- ------------------------------------------------- -->

  <%= f.input :start_date, label: "#{ t :start_date }", wrapper_html: { class: "start_date text hide" }, as: :string %>
  <%= f.input :end_date, label: "#{ t :end_date }", wrapper_html: { class: "end_date text hide" }, as: :string %>
  <%= f.input :location, label: "#{ t :location }", wrapper_html: { class: "location text hide" } %>
  <%= f.input :size, label: "#{ t :size }", wrapper_html: { class: "size text hide" }, as: :string %>
  <%= f.input :price, label: "#{ t :price }", wrapper_html: { class: "price text hide" }, as: :string %>

  <!-- ------------------------------------------------- -->

  <%= f.simple_fields_for :posts do |post| %>
    <%= render partial: "forem/posts/form", locals: { f: post, topic_form: true } %>
  <% end %>

  <!-- ------------------------------------------------- -->

  <div class="photos">

    <!-- Filled by `$.feeds.processAttachments` -->

    <!-- ------------------------------------------------- -->

    <% unless mobile? %>
      <%= render partial: "photos/photo_file_field" %>
      <a class="add_photo_trigger target"><%= t :add_photo %></a>
    <% end %>
  </div>

  <!-- ------------------------------------------------- -->

  <%= f.input :cats_or_dogs, label: "#{ t :cats_or_dogs }", wrapper_html: { class: "text cats_or_dogs hide" } %>

  <!-- ------------------------------------------------- -->

  <div class="triggers">
    <%= render partial: "photos/photo_file_field" %>
    <a class="add_photo_trigger<%= " button large" if mobile? %>"><%= !mobile? ? t(:add_photo) : t(:add_photo_video) %></a>

    <!-- ------------------------------------------------- -->

    <%= f.submit t(:submit), class: "button primary#{ ' large' if mobile? }" %>
  </div>
<% end %>

