
<!-- SEO: http://schema.org/ -->

<!-- RDFa Lite 1.1 is recommended by the W3C, so prefer it over Microdata 1.0 -->

<!-- http://rdfa.info/ -->

<!-- http://w3.org/TR/rdfa-lite/ -->

<div id="topic<%= topic.id %>" class="topic<%= " pending_confirmation" if topic.pending_confirmation? %><% "external_media" if topic.external_media_id.present? %><%= " sponsored" if topic.sponsored? %>" data-forum-type="<%= topic.forum.forum_type.value %>" vocab="http://schema.org/" typeof="Article">
  <div class="first_post">
    <% if topic_show_path? %>
      <div class="avatar_and_title">
        <%= brgen_avatar(topic.user) %>

        <!-- RDFa Lite 1.1: http://schema.org/headline -->

        <h1 class="title" property="headline"><%= topic.subject %></h1>
      </div>
    <% end %>

    <!-- ------------------------------------------------- -->

    <% if topic.user == forem_user && topic.pending_confirmation? %>
      <div class="pending_confirmation_message" >
        <p><%= t :check_your_email %></p>
      </div>
    <% end %>

    <!-- ------------------------------------------------- -->

    <% if !topic_show_path? %>
      <div class="avatar_and_title">
        <%= brgen_avatar(topic.user) %>

        <!-- RDFa Lite 1.1: http://schema.org/headline -->

        <%= link_to topic.subject, main_app.forum_topic_path(topic.forum, topic), class: "title#{ " progress_trigger" if mobile? }", data: { ajax: "#{ "false" if !mobile? }", param: topic.to_param }, target: "#{ "_blank" if desktop? }", property: "headline" %>
      </div>

      <!-- ------------------------------------------------- -->

      <%# if mobile? %>
        <%#= link_to t(:open), main_app.forum_topic_path(topic.forum, topic), class: "open", data: { param: topic.to_param } %>
      <%# end %>
    <% end %>

    <!-- ------------------------------------------------- -->

    <% if !topic.pending_confirmation? %>
      <%= render partial: "shared/time_and_user", locals: { topic: topic } %>
    <% end %>

    <!-- ------------------------------------------------- -->

    <% if topic.external_media_id.present? %>
      <%= render partial: "forem/topics/external_media/#{ topic.external_media_type }", locals: { topic: topic } %>
    <% else %>

      <!-- ------------------------------------------------- -->

      <!-- RDFa Lite 1.1: http://schema.org/articleBody -->

      <div class="user_textarea" property="articleBody">
        <%= process_user_textarea(topic.posts.first.text) %>
      </div>

      <!-- ------------------------------------------------- -->

      <% if topic.posts.first.photos? %>
        <%= render partial: "photos/photos", locals: { post: topic.posts.first } %>
      <% end %>

      <!-- ------------------------------------------------- -->

      <% unless mobile? %>
        <%= render partial: "shared/post_options_desktop", locals: { post: topic.posts.first } %>
      <% else %>
        <%= render partial: "shared/post_options_mobile", locals: { post: topic.posts.first } %>
      <% end %>
    <% end %>

    <!-- ------------------------------------------------- -->

    <% if !topic_show_path? && topic.public_posts.count > 3 %>

      <!-- http://goo.gl/Wt7rZ0 -->

      <%= link_to "#{ t :show_all_comments, count: topic.public_posts.count - 1 }", "#", class: "fetch_replies_trigger" %>
      <a class="hide_replies_trigger" style="display: none;"><%= t :hide_comments %></a>
    <% end %>

    <!-- ------------------------------------------------- -->

    <div class="new_reply">
      <%= render partial: "forem/posts/reply_form", locals: { topic: topic, post: topic.posts.first } %>
    </div>
  </div>

  <!-- ------------------------------------------------- -->

  <% if topic.public_posts.count > 1 %>
    <div class="replies">
      <% if topic_show_path? %>
        <%= render partial: "forem/posts/post", collection: topic.public_posts.drop(1), locals: { is_reply: true } %>
      <% else %>

        <!-- Show only the last two replies, load the rest via Ajax -->

        <%= render partial: "forem/posts/post", collection: topic.public_posts.drop(1).last(2), locals: { is_reply: true } %>
      <% end %>
    </div>
  <% end %>
</div>

