<div id="media_feed_container" data-role="content" data-url="<%= request.fullpath %>"<%= " data-iscroll" if mobile? %>>

  <!-- Filled by JavaScript -->

  <% if root_path? %>
    <%= link_to_next_page @topics, t(:next), params: set_filter_params, class: "pagination" %>
  <% else %>
    <h1><%= t :section_is_empty %></h1>
  <% end %>

  <!-- ------------------------------------------------- -->

  <div id="temporary_storage" style="display: none;">
    <%= render @topics %>
  </div>
</div>

