<% topic = post.topic %>

<!-- ------------------------------------------------- -->

<% is_reply = local_assigns[:is_reply] %>

<!-- ------------------------------------------------- -->

<div class="post_options">
  <div class="visible">
    <%= render "/likes/like_link", post: post %>

    <!-- ------------------------------------------------- -->

    <% if is_reply %>
      <%= reply_triggers(post) %>
    <% end %>
  </div>
  <div class="progressive">
    <div class="item">
      <div class="trigger more_trigger">
        <span class="trigger_description arrow_bottom arrow_center"><%= t :more %></span>
      </div>
      <div class="sub">
        <%= render partial: "flags/flag_link", locals: { type: "post", post: post } %>

        <!-- ------------------------------------------------- -->

        <% if !topic.sponsored? && (forem_admin? || (post.reply_to.nil? && !forem_user.anonymous?) || (forem_user == post.user)) %>
          <% if post.reply_to.nil? && forem_user && !forem_user.anonymous? %>
            <% if !topic.subscriber?(forem_user.id) %>
              <%= link_to t(:subscribe), main_app.subscribe_forum_topic_path(topic.forum, topic), class: "progress_trigger" %>
            <% else %>
              <%= link_to t(:unsubscribe), main_app.unsubscribe_forum_topic_path(topic.forum, topic), class: "progress_trigger" %>
            <% end %>
          <% end %>

          <!-- ------------------------------------------------- -->

          <%# if forem_admin_or_moderator?(topic.forum) %>
            <%#= link_to t("hide.#{ topic.hidden }"), forem.toggle_hide_admin_forum_topic_path(topic.forum, topic), method: :put, class: "progress_trigger" %>
            <%#= link_to t("lock.#{ topic.locked }"), forem.toggle_lock_admin_forum_topic_path(topic.forum, topic), method: :put, class: "progress_trigger" %>
            <%#= link_to t("pin.#{ topic.pinned }"), forem.toggle_pin_admin_forum_topic_path(topic.forum, topic), method: :put, class: "progress_trigger" %>
          <%# end %>

          <!-- ------------------------------------------------- -->

          <% if forem_user == post.user || forem_admin? %>
            <%= link_to t(:edit), main_app.edit_topic_post_path(topic, post), class: "progress_trigger" %>

            <!-- Redirect to root if topic path -->

            <%= link_to t(:delete), main_app.topic_post_path(topic, post, redirect: (topic_show_path?)), method: :delete, confirm: t(:are_you_sure), remote: true, data: { ajax: false }, class: "progress_trigger" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

