<div class="time_and_user">
  <% if ad?(topic) %>
    <p><%= t :starts_in %> <%= expires_in(topic) %></p>
  <% elsif event?(topic) %>
    <p><%= t :in %> <%= expires_in(topic) %></p>
  <% elsif regular?(topic) %>
    <p><%= time_ago_in_words(topic.posts.first.created_at) %> <%= t :ago %></p>
  <% end %>

  <!-- ------------------------------------------------- -->

  <!-- http://schema.org/author -->

  <p property="author"><%= topic.posts.first.user %></p>
</div>

