
<!--

  TODO:

    RDFa Lite 1.1:

    http://schema.org/Event
    http://schema.org/LocalBusiness

-->

<div class="info_bar">
  <% unless regular?(topic) %>
    <dl class="full">
      <dt><%= t :type %></dt>
      <% if ad?(topic) %>
        <dd><%= t :ad %></dd>
      <% elsif event?(topic) %>
        <dd><%= t :event %></dd>
      <% end %>
    </dl>

    <!-- ------------------------------------------------- -->

    <% if ad?(topic) || event?(topic) %>
      <dl class="full">
        <% if ad?(topic) %>
          <dt><%= t :expires_in %></dt>
          <dd><%= expires_in(topic) %></dd>
        <% elsif event?(topic) %>
          <dt><%= t :starts_in %></dt>
          <dd><%= expires_in(topic) %></dd>
        <% end %>
      </dl>
    <% end %>
  <% end %>

  <!-- ------------------------------------------------- -->

  <%# if ad?(topic) || event?(topic) %>
<!--<dl class="full address">
      <dt><%#= t :address %></dt>
      <dd>
        <%#= topic_address_generator %>
        <a class="map_trigger">Show map</a>
      </dd>
    </dl>-->
  <%# end %>

  <!-- ------------------------------------------------- -->

  <dl class="half">
    <dt><%= t :hits %></dt>
    <dd><%= topic.views_count %></dd>
  </dl>

  <!-- ------------------------------------------------- -->

  <% if topic.public_posts.count > 1 %>
    <dl class="half">
      <% if regular?(topic) %>
    <!--<dt><%#= t :comment_or_comments %></dt>-->
        <dt><%= t :comments %></dt>
        <dd><%= topic.public_posts.count - 1 %></dd>
      <% elsif event?(topic) %>
        <!--<dt><%#= t :attending %></dt>-->
        <!--<dd><%#= attending(topic) %></dd>-->
      <% end %>
    </dl>
  <% end %>
</div>

