
<!-- FIXME -->

<%# title t(:intro) %>

<!-- ------------------------------------------------- -->

<%= render partial: "shared/header" %>

<!-- ------------------------------------------------- -->

<div id="intro" data-role="content">
  <div class="intro">
    <h2><%= t :bergens_social_network_for_web_and_mobile %></h2>
    <h3><%= t :tagline %></h3>
  </div>

  <!-- ------------------------------------------------- -->

  <div class="devices">
    <%= image_tag "device_macbook_pro.png", alt: "MacBook Pro", class: "macbook" %>
    <%= image_tag "device_iphone_6.png", alt: "iPhone 6", class: "iphone" %>
  </div>

  <!-- ------------------------------------------------- -->

  <div class="slides_wrapper">
    <p class="count">
      <span class="current_amount"></span> / <span class="total_amount"></span>
    </p>

    <!-- ------------------------------------------------- -->

    <div class="previous_next">
      <a class="previous"><%= t :previous %></a>
      <a class="next"><%= t :next %></a>
    </div>

    <!-- ------------------------------------------------- -->

    <div class="slides">
      <div class="slide">
        <img src="../../app/assets/images/screenshot_regular_feed.png">
        <div class="guidance_wrapper">
          <div class="guidance">
            <h3><% t :mobile_web %></h3>
            <p><% t :next_generation_mobile_tech %></p>
          </div>
          <div class="guidance">
            <h3><% t :ephemerality %></h3>
            <p><% t :all_content_is_automatically_deleted %></p>
          </div>
          <div class="guidance">
            <h3><% t :community_moderation %></h3>
            <p><% t :help_keep_brgen_clean_and_safe %></p>
          </div>
          <div class="guidance">
            <h3><% t :formatting %></h3>
            <p><% translate_with_link(:emoji_and_markdown, emoji: "http://emoji-cheat-sheet.com/", markdown: "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet") %></p>
          </div>
        </div>
      </div>

      <!-- ------------------------------------------------- -->

      <div class="slide">
        <img src="../../app/assets/images/screenshot_compose.png">
        <div class="guidance_wrapper">
          <div class="guidance">
            <h3><% t :anonymous_posting %></h3>
            <p><% t :posting_on_brgen_is_anonymous %></p>
          </div>
          <div class="guidance">
            <h3><% t :share_whatever_you_want %></h3>
            <p><% t :content_is_automatically_embedded %></p>
          </div>
        </div>
      </div>

      <!-- ------------------------------------------------- -->

      <div class="slide">
        <img src="../../app/assets/images/screenshot_photo_editor.png">
        <div class="guidance_wrapper">
          <div class="guidance">
            <h3><% t :photo_editor %></h3>
            <p><% t :add_cool_effects_to_your_photos %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ------------------------------------------------- -->

  <p class="copyright">© <%= Date.today.year %> brgen.no</p>
</div>

