<% page_title t(:safety) %>

<!-- ------------------------------------------------- -->

<%= render partial: "shared/header" %>

<!-- ------------------------------------------------- -->

<div id="safety" data-role="content">
  <div class="column_wrapper">
    <div class="column">
      <div class="toc">
        <%= render partial: "shared/help_links" %>
      </div>
    </div>

    <!-- ------------------------------------------------- -->

    <div class="column">
      <article>
        <h1><%= t :safety %></h1>
        <p><%= translate_with_link(:use_these_guidelines, police_link: "https://politi.no/hordaland/") %></p>

        <!-- ------------------------------------------------- -->

        <h3><%= t :when_dating %></h3>
        <ul>
          <li><%= t :always_meet_in_public %></li>
          <li><%= t :never_invite_strangers_home %></li>
          <li><%= t :always_carry_smartphone %></li>
          <li><%= t :bring_a_friend %></li>
          <li><%= t :tell_a_friend %></li>
        </ul>

        <!-- ------------------------------------------------- -->

        <h3><%= t :when_buying_or_selling %></h3>
        <ul>
          <li><%= t :only_deal_locally %></li>
          <li><%= t :avoid_wire_transfers %></li>
          <li><%= t :avoid_clicking_links %></li>
          <li><%= t :beware_of_gifts %></li>
          <li><%= t :on_behalf_of_others %></li>
          <li><%= t :do_your_research %></li>
          <li><%= t :when_in_doubt %></li>
        </ul>

        <!-- ------------------------------------------------- -->

        <h3><%= t :medical_info %></h3>
        <ol>
          <li><%= t :not_a_site_for_med_info %></li>
          <li><%= t :brgen_disclaims_any_liability %></li>
          <li><%= t :always_ask_your_doctor %></li>
        </ol>

        <!-- ------------------------------------------------- -->

        <h3><%= t :recommended_sites %></h3>
        <ul class="site_list">
          <li><a href="http://slettmeg.no" title="<%= t :slettmeg %>">slettmeg.no</a></li>
          <li><a href="http://dubestemmer.no" title="<%= t :dubestemmer %>">dubestemmer.no</a></li>
          <li><a href="http://nettvett.no" title="<%= t :nettvett %>">nettvett.no</a></li>
          <li><a href="http://norsis.no" title="<%= t :norsis %>">norsis.no</a></li>
          <li><a href="http://idtyveri.info" title="<%= t :idtyveri %>">idtyveri.info</a></li>
          <li><a href="http://forbrukerportalen.no" title="<%= t :forbrukerportalen %>">forbrukerportalen.no</a></li>
          <li><a href="http://forbrukerombudet.no" title="<%= t :forbrukerombudet %>">forbrukerombudet.no</a></li>
          <li><a href="http://datatilsynet.no" title="<%= t :datatilsynet %>">datatilsynet.no</a></li>
        </ul>
      </article>
    </div>
  </div>
</div>

