<div id="forgot_password_request" class="local_auth" data-role="page">
  <div data-iscroll>
    <header data-role="header">

      <!-- Wrapper to prevent jQuery Mobile from adding CSS to elements -->

      <!-- TODO: Remove come v1.5: GH #7230 -->

      <div class="jqm_prevent_class_injection">
        <a class="back_trigger" data-rel="back"><%= t :back %></a>
        <h2><%= t :request_password_reset %></h2>

        <!-- ------------------------------------------------- -->

        <div class="progress_wrapper">

          <!-- Filled by NProgress -->

        </div>
      </div>
    </header>

    <!-- ------------------------------------------------- -->

    <%= render partial: "shared/auth_forgot_password_request" %>
  </div>
</div>

<!-- ------------------------------------------------- -->

<div id="forgot_password" class="local_auth" data-role="page">
  <div data-iscroll>
    <header data-role="header">

      <!-- Wrapper to prevent jQuery Mobile from adding CSS to elements -->

      <!-- TODO: Remove come v1.5: GH #7230 -->

      <div class="jqm_prevent_class_injection">
        <a class="back_trigger" data-rel="back"><%= t :back %></a>
        <h2><%= t :reset_password %></h2>
      </div>
    </header>

    <!-- ------------------------------------------------- -->

    <%= render partial: "shared/auth_forgot_password" %>
  </div>
</div>

