<% is_reply = local_assigns[:is_reply] %>

<!-- ------------------------------------------------- -->

<!-- RDFa Lite 1.1: http://schema.org/comment -->

<div class="reply" id="topic<%= post.topic.id %>-post<%= post.id %>" property="comment">
  <%= brgen_avatar(post.user) %>

  <!-- ------------------------------------------------- -->

  <div class="time_and_user">
    <p><%= time_ago_in_words(post.created_at) %> <%= t :ago %></p>
    <p><%= post.user %></p>
  </div>

  <!-- ------------------------------------------------- -->

  <div class="user_textarea">
    <%= process_user_textarea(post.text) %>
  </div>

  <!-- ------------------------------------------------- -->

  <% if post.photos? %>
    <%= render partial: "photos/photos", locals: { post: post } %>
  <% end %>

  <!-- ------------------------------------------------- -->

  <% unless mobile? %>
    <%= render partial: "shared/post_options_desktop", locals: { post: post, is_reply: is_reply } %>
  <% else %>
    <%= render partial: "shared/post_options_mobile", locals: { post: post, is_reply: is_reply } %>
  <% end %>

  <!-- ------------------------------------------------- -->

  <div class="new_reply hide">
    <%= render partial: "forem/posts/reply_form", locals: { topic: post.topic, post: post } %>
  </div>

  <!-- ------------------------------------------------- -->

  <!-- FIXME -->

  <% unless topic_show_path? && (post.replies.empty? || post.reply_type == "email") %>
    <a class="sub_replies_trigger"><%= t :show_replies %></a>
    <div class="sub_replies">
      <%= render partial: "forem/posts/post", collection: post.replies, locals: { post: post } %>
    </div>
  <% end %>
</div>

